@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using NguyenNhan_2179_tuan3.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Hồ sơ cá nhân";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var isAdmin = User.IsInRole("Admin");
}

<h3 class="mb-4 text-secondary">@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-8">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Tên đăng nhập" disabled />
                <label asp-for="Username"></label>
            </div>
            @if (!isAdmin)
            {
                <a href="/Order/History" class="btn btn-outline-primary mb-3">
                    <i class="bi bi-clock-history me-1"></i> Xem lịch sử đơn hàng
                </a>
            }
            @* <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" placeholder="Họ và tên" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>  *@
            @* <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Số điện thoại" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div> *@

            @* <button type="submit" class="btn btn-primary w-100 py-2">
                <i class="bi bi-save me-1"></i> Lưu thay đổi
            </button> *@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
