@model int

@{
    ViewData["Title"] = "Đặt hàng thành công";
}

<div class="container mt-4">
    <h2 class="text-success">@ViewData["Title"]</h2>
    <div class="alert alert-success" role="alert">
        <p>Đơn hàng của bạn đã được đặt thành công.</p>
        <a asp-controller="Order" asp-action="Details" asp-route-id="@Model" class="btn btn-success mt-3">Xem chi tiết đơn hàng</a>
        <a asp-controller="Home" asp-action="IndexList" class="btn btn-primary mt-3 ms-2">Về giỏ hàng</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-3 ms-2">Về trang chủ</a>
        <a asp-controller="Order" asp-action="History" class="btn btn-secondary mt-3 ms-2">Lịch sử mua hàng</a>
    </div>
</div>