@model NguyenNhan_2179_tuan3.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p><strong>Tên:</strong> @Model.Name</p>
  
</div>

<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
